<div class="hero-section">
  <div class="hero-text">
    <h1>Ласкаво просимо до <span class="highlight">DevSpark</span>!</h1>
    <p>Твій надійний помічник у світі програмування 😀</p>
    <p>Вивчай теорію, розв’язуй задачі, пиши код у вбудованому редакторі — і рости як програміст із задоволенням!</p>
    <p>Поринай у світ програмування, алгоритмів та сучасних технологій.</p>
    <a routerLink="/courses" class="cta-button">Почати навчання</a>
  </div>
  <div class="hero-image">
      <img src="/img_2.png" alt="Programming Illustration">
  </div>
</div>
