<div class="register-container container">
  <h2>Реєстрація</h2>

  <form (ngSubmit)="onRegister()">
    <div>
      <label for="username">Username:</label>
      <input
        id="username"
        name="username"
        [(ngModel)]="username"
        required
        (input)="onInputChange()">
    </div>

    <div>
      <label for="password">Password:</label>
      <input
        id="password"
        name="password"
        type="password"
        [(ngModel)]="password"
        required
        (input)="onInputChange()">
    </div>

    <div *ngIf="!isPassStrong && password.length > 0" class="error-message">
      Пароль має містити щонайменше 6 символів, одну велику літеру, одну малу та одну цифру.
    </div>

    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>

    <button type="submit" [disabled]="isButtonDisabled">Зареєструватися</button>
  </form>
</div>
