<div class="container">
  <h2>Редагування вступного тесту 📝</h2>

  <div *ngIf="!isLogged" class="warning">
    <p>
      Ви не в системі. Щоб редагувати питання, будь ласка,
      <a routerLink="/login">увійдіть</a> або
      <a routerLink="/register">зареєструйтесь</a>.
    </p>
  </div>

  <div class="edit-block">
    <div class="create-question-wrapper">
      <button class="add-question" (click)="addQuestion()">+ Додати питання</button>
    </div>

    <ul class="question-list">
      <li *ngFor="let question of questions; let i = index" class="question-block">
        <div class="question-content">
          <h3>{{ i + 1 }}. {{ question.text }}</h3>

          <ul class="answer-options">
            <li class="answer" *ngFor="let option of question.options">
              <span class="answer-item">🟠</span>
              {{ option }}
              <span *ngIf="option === question.correctAnswer">✅</span>
            </li>
          </ul>
        </div>

        <div class="admin-buttons" *ngIf="isAdmin">
          <button (click)="editQuestion(question)">Редагувати</button>
          <button (click)="deleteQuestion(question.id)" class="delete-btn">Видалити</button>
        </div>

        <div class="admin-buttons-min" *ngIf="isAdmin">
          <button (click)="editQuestion(question)">✏️</button>
          <button (click)="deleteQuestion(question.id)" class="delete-btn">🗑️</button>
        </div>
      </li>
    </ul>
  </div>
</div>
