<div class="container">
  <h2>Створення нового паролю</h2>

    <div class="form-group">
      <label for="newPassword">Новий пароль</label>
      <input
        id="newPassword"
        type="password"
        class="form-control"
        [(ngModel)]="newPassword"
      />
    </div>

    <button class="btn btn-primary mt-3" type="submit" (click)="onSubmit()">Змінити пароль</button>

    <div class="alert alert-success mt-3" *ngIf="successMessage">{{ successMessage }}</div>
    <div class="alert alert-danger mt-3" *ngIf="errorMessage">{{ errorMessage }}</div>
</div>
