<div *ngIf="lesson" class="lesson-list-container">
  <h2>{{ lesson.name }}</h2>
  <div class="lesson-content" [innerHTML]="content"></div>
</div>

<div *ngIf="lesson" class="navigation-buttons">
  <button *ngIf="student && !isAdmin() && lesson?.checkKnowledgeId"
          (click)="startLessonTest()"
          class="lesson-button link-button">
    Перейти до тестування
  </button>

  <button *ngIf="student && !isAdmin()"
          (click)="goToCodingTasks()"
          class="lesson-button link-button">
    Перейти до практичних завдань
  </button>

  <button (click)="goToCourseList()"
          class="lesson-button link-button course-list-button">
    Повернутися до списку курсів
  </button>

  <button *ngIf="isAdmin() && lesson?.checkKnowledgeId"
          (click)="editQuestions()"
          class="lesson-button edit-test-button">
    Редагувати тести
  </button>
</div>

<div *ngIf="!lesson">
  <p class="not-found-message">Курс не знайдено або сталася помилка.</p>
</div>
