.lesson-list-container {
  width: 90%;
  max-width: 1200px;
  margin: 50px auto;
  padding: 0 15px;
}

.lesson-list-container h2 {
  text-align: center;
}

.lesson-content {
  line-height: 1.6;
}

.lesson-content p {
  font-size: clamp(1rem, 2vw, 1.2rem);
  color: #2c3e50;
  margin-bottom: 1.5em;
  text-align: left;
}

.lesson-content img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 20px auto;
  border-radius: 8px;
}

/* Error message */
.not-found-message {
  text-align: center;
  padding: 50px 20px;
  font-size: clamp(1rem, 2vw, 1.2rem);
  color: #777;
  max-width: 600px;
  margin: 0 auto;
}

/* Buttons and navigation */
.navigation-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  margin: 30px auto;
  max-width: 90%;
}

.lesson-button {
  color: #fff;
  background-color: #3a3a3a;
  padding: 8px 16px;
  font-size: 14px;
  font-weight: normal;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  text-align: center;
  transition: all 0.3s ease;
}

.lesson-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
  transform: none;
  box-shadow: none;
}

.link-button {
  background: none;
  color: #ff9800;
  font-size: 14px;
  padding: 4px;
  border: none;
  text-align: left;
  text-decoration: underline;
  transition: color 0.2s ease;
}

.link-button:hover {
  color: #e68a00;
  text-decoration: none;
}

.edit-test-button {
  background-color: #ff9800;
  margin-top: 25px;
}

.edit-test-button:hover {
  background-color: #e68a00;
}

/* Responsive design */
@media screen and (max-width: 768px) {
  .navigation-buttons {
    margin: 20px auto;
    flex-direction: column;
    align-items: stretch;
  }

  .lesson-button, .link-button {
    width: 100%;
    text-align: center;
  }
}

@media screen and (max-width: 480px) {
  .lesson-list-container {
    width: 100%;
    margin: 30px auto;
  }

  .navigation-buttons {
    gap: 10px;
    max-width: 100%;
  }

  .edit-test-button {
    max-width: 100%;
  }
}
