<nav class="navbar">
  <div class="navbar-container">
    <a class="logo" href="#">
      <img class="logo-icon" src="/logo2.svg" alt="">
    </a>
    <ul class="nav-links">
      <li><a routerLink="/login" routerLinkActive="active">Увійти</a></li>
      <li><a routerLink="/register" routerLinkActive="active">Зареєструватись</a></li>
      <li><a routerLink="/courses" routerLinkActive="active">Курси</a></li>
      <li><a routerLink="/profile" routerLinkActive="active">Профіль</a></li>
    </ul>
  </div>
</nav>
