<nav class="navbar">
  <div class="navbar-container">
    <a class="logo" href="#">
      <img class="logo-icon" src="/logo2.svg" alt="">
    </a>


    <ul class="nav-links">
    <div *ngIf="isLogged" class="greeting">
      👋 привіт, <span class="greeting-name">{{ username }}</span>
    </div>
      <li><a routerLink="/courses" routerLinkActive="active">Курси</a></li>
      <li *ngIf="!isLogged"><a routerLink="/login" routerLinkActive="active">Увійти</a></li>
      <li *ngIf="!isLogged"><a routerLink="/register" routerLinkActive="active">Зареєструватись</a></li>
      <li *ngIf="isLogged"><a routerLink="/profile" routerLinkActive="active">Профіль</a></li>
      <li *ngIf="isLogged"><a (click)="logout()" style="cursor:pointer">Вийти</a></li>
    </ul>

  </div>
</nav>
