<h1>Вступний тест</h1>

<!-- Якщо студент є і тест треба проходити -->
<div *ngIf="student?.isFirst">

  <div *ngIf="firstCheck && firstCheck.questionIds && firstCheck.questionIds.length > 0">

    <!-- Поточне питання -->
    <div *ngIf="!showResults && currentQuestionIndex < firstCheck.questionIds.length" class="question-container container">
      <h2>Запитання {{ currentQuestionIndex + 1 }}:</h2>

      <!-- Компонент для відображення запитання -->
      <app-question
        [idQuestion]="currentQuestionId"
        [(ngModel)]="currentAnswer">
      </app-question>

      <!-- Кнопка для відповіді -->
      <button (click)="getAnswer()" [disabled]="!currentAnswer.trim()">Відповісти</button>
    </div>

  </div>

  <!-- Якщо тест завершено -->
  <div *ngIf="!showResults && firstCheck && currentQuestionIndex >= firstCheck.questionIds.length" class="test-completion">
    <h2>Тест завершено! Дякуємо за участь.</h2>
    <button (click)="submitAnswers()">Надіслати відповіді</button>
  </div>

  <div *ngIf="showResults" class="question-container container">
    <h2>Результати тесту</h2>
    <p>Кількість балів: {{ resultScore }}</p>
    <p>Ваш рівень: {{ resultLevel }}</p>
    <button (click)="goToCourses()">До курсів</button>
  </div>

</div>
